body{
    background-color: #F3EFE0;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #434242;
}

h1{
    color: #22A39F;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 100px auto 0 auto;
}

h2{
    color: #22A39F;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #222222;
    margin-bottom: 0;
}

h4{
    color: #222222;
    margin-top: 0;
}

hr{
    border: dotted #E6DDC4 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #22A39F;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}


.top-container{
    height: 100vh;
    background-color: #222222;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    width: 10%;
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    width: 10%;
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container{
    margin: 100px 0;
}

.profile-img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.intro{
    width: 30%;
    margin: auto;
}

.work-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.work-img{
    width: 15%;
    float: left;
    margin-right: 30px;
}

.education-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.education-img{
    width: 15%;
    float: right;
    margin-left: 30px;
}

.project-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.keyboard-img{
    width: 15%;
    float: left;
    margin-right: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    float: right;
    width: 35%;
    margin-right: 30px;
}

.certificate-img{
    width: 15%;
    float: right;
    margin-left: 30px;
}

.bottom-container{
    background-color: #222222;
    padding: 50px 0 20px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
